body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

canvas {
  background: white;
  border: 3px solid black;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

.container img {
  display: block;
  /* Para que la imagen sea un bloque y pueda centrarse horizontalmente */
  margin: 0 auto;
  /* Centrar horizontalmente */
}